body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin: 15px;
}
.img-head{
    height: 38px;
    width: 38px;
}
.text-comment{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*个人资料右边 列表的外边距*/
.profile .section{
    margin:15px;
}

/*question中的编辑*/
.community-menu{
    font-size: 13px;
    color: #999;
}
.jumbotron{
    margin: 60px;
}
.name-middle{
    padding:10px;
}
.name-middle-2{
    padding:5px 15px;
}
.comment{
    margin: 10px 0;<!--10px 0 10px 0-->
}
.community-like{
    color: #999;
}
.like{
    margin:5px;
}

<!--鼠标悬浮变成小手 -->
.community-like .margin{
    margin:5px;
    cursor: pointer;
}
/*增加悬浮效果*/
.community-like .margin:hover{
    color: #499ef3;
    cursor: pointer;
}
.community-replies{
    margin-top:55px ;
}
.community-hr{
    background-color: #000000;
}
.community-title{
    margin-top:35px;
}
.active{
    color: #499ef3;
}
.community-level2{
    border-radius: 5px;
    margin-top:10px;
    border:1px solid #eee;
    padding-top: 15px;
}
.community-input{
    margin-top: 10px;
    float: right;
}
.question-tag{
    margin-right: 5px;
}
.question-related{
    line-height: 40px;
    font-size: 15px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.community-wechat{
    width: 100%;
}



