body{
    background-color: #efefef;
}
.main{
    background-color: white;
    margin: 30px;
}
.btn-publish{
    float: right;
    margin: 15px;
}
.img-head{
    height: 38px;
    width: 38px;
}
.text-comment{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*个人资料右边 列表的外边距*/
.profile .section{
    margin:15px;
}

/*question中的编辑*/
.community-menu{
    font-size: 13px;
    color: #999;
}